@model Projekt_ASP.Models.Ad

@{
    ViewData["Title"] = "Create";
}

<div class=" py-5">
    <div class="container-sm w-50 bg-white p-4 shadow rounded">
        <h1 class="p-3 text-center">Dodaj ogłoszenie</h1>

        <form asp-action="Create" method="post">
            <div class="form-group p-2">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
             <div class="form-group p-2">
                <label asp-for="Category" class="control-label"></label>
                <select class="form-control" id="Category" name="Category" required>
                    <option value="Motoryzacja">Motoryzacja</option>
                    <option value="Nieruchomości">Nieruchomości</option>
                    <option value="Praca">Praca</option>
                    <option value="Elektronika">Elektronika</option>
                    <option value="Usługi">Usługi</option>
                    <option value="Dom i ogród">Dom i ogród</option>
                    <option value="Moda">Moda</option>
                    <option value="Dla dzieci">Dla dzieci</option>
                </select>
            </div>
            <div class="form-group p-2">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="Image"></label>
                <input type="file" asp-for="Image" class="form-control" />
            </div>
            <div class="form-group p-2">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <div class="form-group p-2">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" />
            </div>
           
            <button type="submit" class="btn bg-dark text-white m-2">Dodaj Ogłoszenie</button>
        </form>
    </div>
</div>
