@{
    ViewData["Title"] = "Ogloszenia";
}

<h1>All Ads</h1>
<p>Below is a list of all available ads:</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bike for sale</td>
            <td>A mountain bike in great condition</td>
            <td>$200</td>
            <td>
                <a href="#" class="btn btn-sm btn-success">Buy</a>
            </td>
        </tr>
        <tr>
            <td>Used Laptop</td>
            <td>A slightly used laptop with 16GB RAM</td>
            <td>$500</td>
            <td>
                <a href="#" class="btn btn-sm btn-success">Buy</a>
            </td>
        </tr>
    </tbody>
</table>
