
@{
    ViewData["Title"] = "Home";
}


@*  //wyszukiwarka *@

<div style="height: 125px;" class="bg-light">
    <div class="d-flex justify-content-center align-items-center bg-light h-100">
        <form class="input-group w-75 h-50" action="/search" method="GET">
            <input type="text"
                   class="form-control"
                   placeholder="Wpisz czego szukasz..."
                   aria-label="Search"
                   name="query">
            <button class="btn btn-primary w-25" type="submit" style="background-color:#1d8968;">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </div>
</div>

  <h1 class="p-5 text-center fw-bold">Kategorie główne</h1>
<div class="container-md text-center w-75">
 
    <div class="row pb-5">
        <div class="col">
            <img src="https://cdn1.iconfinder.com/data/icons/transportation-4/512/car-1024.png" alt="Motoryzacja" class="img-fluid mb-2 w-25">
            <p>Motoryzacja</p>
        </div>

        <div class="col">
            <img src="https://cdn1.iconfinder.com/data/icons/transportation-4/512/car-1024.png" alt="Motoryzacja" class="img-fluid mb-2 w-25">
            <p>Nieruchomości</p>
        </div>
        <div class="col">
            <img src="https://cdn1.iconfinder.com/data/icons/transportation-4/512/car-1024.png" alt="Motoryzacja" class="img-fluid mb-2 w-25" />
            <p>Praca</p>
        </div>
        <div class="col">
            <img src="https://cdn1.iconfinder.com/data/icons/transportation-4/512/car-1024.png" alt="Motoryzacja" class="img-fluid mb-2 w-25">
            <p>Elektronika</p>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col">
            <img src="https://cdn1.iconfinder.com/data/icons/transportation-4/512/car-1024.png" alt="Motoryzacja" class="img-fluid mb-2 w-25">
            <p>Usługi</p>

        </div>
        <div class="col">
            <img src="https://cdn1.iconfinder.com/data/icons/transportation-4/512/car-1024.png" alt="Motoryzacja" class="img-fluid mb-2 w-25">
            <p>Dom i ogród</p>
        </div>
        <div class="col">
            <img src="https://cdn1.iconfinder.com/data/icons/transportation-4/512/car-1024.png" alt="Motoryzacja" class="img-fluid mb-2 w-25">
            <p>Moda</p>

        </div>
        <div class="col">
            <img src="https://cdn1.iconfinder.com/data/icons/transportation-4/512/car-1024.png" alt="Motoryzacja" class="img-fluid mb-2 w-25">
            <p>Dla dzieci</p>

        </div>
    </div>
</div>
