@{
    ViewData["Title"] = "Home";
}

<h1>Ogłoszenia promowane</h1>
<p>pomyslu nie mam jak to zrobic, na normalnym olxie sa kategorie ale ja zrobilbym po prostu liste 
    z ogloszeniami, omijajac zdjecia, co myslisz
</p>

<a href="/Ads" class="btn btn-primary">View Ads</a>
