name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Debug --no-restore

      - name: Run Tests
        run: |
          mkdir -p Tests/TestResults
          dotnet test ./Tests/Tests.csproj \
            --configuration Debug \
            --logger "trx;LogFileName=Tests/TestResults/test-results.trx"

      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: ./Tests/TestResults
